<template>
  <div class="evnt_wrapper text-center">
    <div class="evnt_ttl">
      <img class="img-fluid" src="~/assets/img/events.png" alt="event-title">
      <h1 class="text-center evnt_ttl-heading">
        Current Events
      </h1>
    </div>
    <div class="evnt_lists af-flex">
      <template v-for="(event,i) in events">
        <EventCard :key="i" :title="event.title" :place="event.place" :date="event.date" />
      </template>
    </div>
  </div>
</template>

<script>

import EventCard from '~/components/Shared/EventCard'
import RecentEventsdata from '~/data/RecentEventData.json'

export default {

  components: {
    EventCard
  },

  data () {
    return {
      events: RecentEventsdata
    }
  }
}
</script>

<style lang="scss">
    .evnt_wrapper{
        width: 100%;
        height: auto;
        padding: 3% 2%;
        background-image: url('../../assets/img/events-bg.png');
        padding-bottom: 10rem;
        background-size: 100% 100%;
    }

    .evnt_ttl-heading{
        transform: translateY(-120%);
        color: $afrost-green;
        font-weight: 500;
    }
    
    .evnt_lists{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
</style>
