<template>
  <div class="main_wrapper af-flex af-column">
    <div class="main_content af-flex af-column">
      <p class="main_content-title">
        {{ introContent }}
      </p>
      <button class="btn">
        BECOME A MEMBER
      </button>
    </div>
    <div class="subscribe_block .af-flex">
      <h1>Be a part of Team</h1>
      <div class="subscribe_input">
        <input v-model="subscribeValue" type="text" placeholder="Enter Your Email..." name="search">
        
        <button type="submit" class="btn btn-subscribe">
          Subscribe
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      introContent: 'INFORMATION is free you have to know PEOPLE are not you have to pay CONTRIBUTORS are priceless, you have to be',

      subscribeValue: ''
    }
  }
}
</script>

/*
* Scoped styles for homepage Intro Section
*/

<style scoped lang="scss">
    .main_wrapper{
      height: 100vh;
      width: 100%;
      background: url('../../assets/img/banner.png');
    }
    .main_content {
      justify-content: center;
      align-items: flex-start;
      max-width: 768px;
      width: 90%;
      margin: 0px auto 0px 30px;
      height: 100%;
    }
    .main_content-title{
      color: $light-grey;
      font-size: calc(14px + 1.5vw);
      line-height: 2;
    }

    .subscribe_block{
        display: flex;
        flex-wrap: wrap;
        background-color: $charcoal-black;
        color: $white;
        height: auto;
        padding: 20px;
        justify-content: space-around;
        align-items: center;
        text-align: left;
    }

    .subscribe_block input[type=text] {
        padding: 6px 15px;
        font-size: 17px;
        border: none;
        background-color: $black;
        border-radius: 5px 0px 0px 5px;
        float: left;
        width: 70%;
        line-height: 2.2;
        color: $white;
        outline: none;
    }

    .btn-subscribe{
        float: left;
        width: 30%;
        color: white;
        border-radius: 0px 5px 5px 0px;
        border-left: none;
        cursor: pointer;
    }
</style>
