<template>
  <div class="tm_wrapper">
    <div class="tm_content">
      <div class="tm_ttl text-center">
        <img class="img-fluid" src="~/assets/img/testimonials.png" alt="testimonials">
        <h1 class="text-center tm_ttl-testimonial">
          Testimonials
        </h1>
      </div>

      <TestimonialCard />
    </div>
  </div>
</template>

<script>

import TestimonialCard from './TestimonialCards'

export default {
  components: {
    TestimonialCard
  },
  data () {
    return {}
  }
}
</script>

<style lang="scss">
    .tm_wrapper{
        display: block;
        padding: 2%;
    }
    
    .tm_ttl-testimonial{
        transform: translateY(-120%);
        color: $afrost-blue;
        font-weight: 500;
    }
</style>
