<template>
  <div class="footer_details">
    <div class="footer_content">
      <div v-for="(item, index) in data" :key="index">
        <h3>{{ item.title }}</h3>
        <ul>
          <li v-for="(link, id) in item.links" :key="id">
            <a href="link.url">{{ link.content }}</a>
          </li>
        </ul>
      </div>
      <div class="footer_link footer_newslink">
        <p>Subscribe to a Newsletter</p>
        <div class="subscribe_input">
          <input v-model="subscribeValue" type="text" placeholder="Enter Your Email..." name="search">
        
          <button type="submit" class="btn btn-subscribe">
            Subscribe
          </button>
        </div>
      </div>
    </div>
    <div class="footer_border" />
    <div class="footer_copyrightSection">
      <div>c Copyright@2020</div>
      <div>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </div>
      <div>+91 90000 9000</div>
    </div>
  </div>
</template>

<script>
import FooterData from '../data/FooterData.json'

export default {
  data () {
    return {
      data: FooterData,
      subscribeValue: ''
    }
  }
}
</script>

<style lang="scss" scoped>
    .footer_details{
        width: 100%;
        height: auto;
        padding: 6% 2% 2% 2%;
        background-image: url('../assets/img/footer-bg.png');
        /* padding-bottom: 10rem; */
        background-size: 100% 100%;
    }
    .footer_content{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

      .footer_link{
        width: 25%;
        text-align: center;
      }

      h3{
        color: $afrost-green;
        font-weight: 400;
        text-align: center;
      }

      ul{
        list-style: none;
        padding: 0;
        text-align: center;
      }

      ul li{
        margin: 10px;
      }

      ul li a{
        color: white;
        text-decoration: none;
      }

      p{
        color: white;
        font-size: 16px;
        text-align: left;
      }
    }

    .subscribe_input{
        display: flex;
        flex-wrap: wrap;
        background-color: $charcoal-black;
        border-radius: 5px 0px 0px 5px;
        color: $white;
        height: auto;
        padding: 0px;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .subscribe_input input{
        padding: 0px 15px;
        font-size: 17px;
        border: none;
        border-radius: 5px 0px 0px 5px;
        float: left;
        width: 70%;
        line-height: 2;
        color: $white;
        outline: none;
    }

    .btn-subscribe{
        float: left;
        width: 30%;
        color: white;
        border-radius: 0px 5px 5px 0px;
        border-left: none;
        background-color: $afrost-blue;
        cursor: pointer;
        
    }

    .footer_border{
      width: 90%;
      margin: auto;
      padding: 10px;
      border-bottom: 2px solid white;
    }

    .footer_copyrightSection{
      width: 90%;
      margin: auto;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div{
        margin: 10px;
        text-align: left;
        color: $light-grey;
      }
    }

    @media only screen and (max-width: 768px){
      .footer_content{
        margin-top: 6rem;
      }

      .footer_newslink{
        width: 80%!important;
        margin-top: 30px;
      }
    }
</style>
