<template>
  <v-layout column justify-center align-center>
    <Intro />
    <OurTeam />
    <Vision />
  </v-layout>
</template>

<script>

import Intro from '~/components/Aboutus/Intro'
import OurTeam from '~/components/Aboutus/OurTeam'
import Vision from '~/components/Aboutus/Vision'

export default {
  components: {
    Intro,
    OurTeam,
    Vision
  }
}
</script>
